<div class="header  pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<div class="container-fluid">
<form [formGroup]="form">
<div *ngIf="etap==0">
<label>1-Est-ce que le défunt est un homme ? Saisir 1 si oui, sinon, saisir 0</label><br>
<!--<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" formControlName="genre" checked>
  <label class="form-check-label" for="flexRadioDefault1">
    Homme
  </label>
</div>
<div class="form-check">
  <input  class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
  <label class="form-check-label" for="flexRadioDefault2">
    Femme
  </label>
</div>-->
<div class="form-group">
<select class="form-select" aria-label="Default select example" formControlName="genre">
  <option value='1' selected>Homme</option>
  <option value='0'>Femme</option>
</select><br>
</div>
<button type="submit" class="btn btn-primary"(click)="etape(1)" >Suivant</button>
</div>
<div *ngIf="etap==1 && form.get('genre').value==1">
<div class="form-group">
    <label >combien de femme(s) avait-il ?</label>
    <input type="text" class="form-control">
</div>
<button type="submit" class="btn btn-primary"(click)="etape(0)" >Suivant</button>
</div>
<div *ngIf="etap==1 && form.get('genre').value==0">
<div class="form-group">
    <label for="genre">2-Est-ce que le défunt est un homme ? Saisir 1 si oui, sinon, saisir 0</label>
    <input type="text" class="form-control" id="genre">
</div>
<button type="submit" class="btn btn-primary"(click)="etape(0)" >Suivant</button>
</div>
</form> 
</div>
