<div class="header  pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<div class="container-fluid">
<form [formGroup]="form">
<div *ngIf="etap==0">
<label>1-Est-ce que le défunt est un homme ?</label><br>
<label class="radio-inline"><input value="1" type="radio" name="genre" formControlName="genre">Oui</label>
<label class="radio-inline ml-3"><input  value="0" type="radio" name="genre" formControlName="genre">Non</label><br>
<button type="submit" class="btn btn-primary"(click)="etape(1)" >Suivant</button>
</div>
<div *ngIf="etap==1 && form.get('genre').value==1">
<div class="form-group">
    <label >2-Combien de femme(s) avait-il ?</label>
    <input type="text" class="form-control" name="nbreFemme" formControlName="nbreFemme">
</div>
<div class="row">
<div class="col-8"></div>
<div class="col-2">
<button type="submit" class="btn btn-primary"(click)="etape(0)" >Precedent</button>
</div>
<div class="col-2">
<button type="submit" class="btn btn-primary"(click)="etape(2)" >Suivant</button>
</div>
</div>
</div>
<div *ngIf="etap==1 && form.get('genre').value==0">
<div class="form-group">
    <label for="genre">2-Avait-elle un mari ? </label><br>
    <label class="radio-inline"><input value="1" type="radio" name="esmarie" formControlName="esmarie">Oui</label>
    <label class="radio-inline ml-3"><input  value="0" type="radio" name="esmarie" formControlName="esmarie">Non</label><br>
</div>
<div class="row">
<div class="col-8"></div>
<div class="col-2">
<button type="submit" class="btn btn-primary"(click)="etape(0)" >Precedent</button>
</div>
<div class="col-2">
<button type="submit" class="btn btn-primary"(click)="etape(2)" >Suivant</button>
</div>
</div>
</div>
<div class="" *ngIf="etap==2">
  <div class="form-group">
    <label for="genre">3-Son pére est-il présent ? </label><br>
    <label class="radio-inline"><input value="1" type="radio" name="presencepere" formControlName="presencepere">Oui</label>
    <label class="radio-inline ml-3"><input  value="0" type="radio" name="presencepere" formControlName="presencepere">Non</label><br>
</div>
<div class="row">
  <div class="col-8"></div>
  <div class="col-2">
  <button type="submit" class="btn btn-primary"(click)="etape(1)" >Precedent</button>
  </div>
  <div class="col-2">
  <button type="submit" class="btn btn-primary"(click)="etape(3)" >Suivant</button>
  </div>
  </div>
</div>
</form> 
</div>
